.toast {

  position: fixed;

  right: 25px;

  bottom: 25px;

  background: #111827;

  color: white;

  padding: 16px 24px;

  border-radius: 12px;

  font-size: 15px;

  font-weight: 600;

  box-shadow:
    0 10px 30px rgba(0,0,0,.25);

  animation:
    slideIn .3s ease;

  z-index: 9999;

}


@keyframes slideIn {

  from {

    opacity:0;

    transform:
      translateY(30px);

  }


  to {

    opacity:1;

    transform:
      translateY(0);

  }

}