.container {

  flex: 1;

  min-width: 280px;

  position: relative;

}


.icon {

  position: absolute;

  left: 16px;

  top: 50%;

  transform: translateY(-50%);

  color: #6b7280;

}



.input {

  width:100%;

  padding:14px 18px 14px 45px;

  border:none;

  border-radius:12px;

  outline:none;

  font-size:16px;

  background:white;

  transition:.25s;

  box-shadow:
    0 3px 10px rgba(0,0,0,.15);

}


.input:focus {

  transform:scale(1.02);

  box-shadow:
    0 0 0 4px rgba(255,255,255,.35);

}